* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Navigation CSS */
.navbar{
  float: right !important;
  background-color: transparent !important;
}

.nav-link {
  color: white !important;
}



/* keep the name and the menu in the same row */
.name-block {
  display: inline-block;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-white h1{
font-weight: bold;
}

.hero-banner {
  background-size: cover;
  height: 550px;
  background-image: url('../image/header-hero-new-size.png');
}


/* About me CSS */
.about-me-content h2{
  font-weight: bold;
  color: #1313BF !important;
}

.about-me-content p {
  font-size: medium;
  color: #1313BF !important;
}

.profile-image{
  width: 200px ;
}


/* Work CSS */
.work-content h2{
  font-weight: bold;
  color: #1313BF !important;
}



/* Contact Me CSS */
.contact-me-content h2{
  font-weight: bold;
  color: #1313BF !important;
}

.contact-me-content h6{
  color: #1313BF !important;
}

.page-grid img {
  object-fit: cover;
  width: 100%;
  /* height: 15rem; */
  height: 150px;
}

.image-container .portfolio1 {
  height: 250px;
  /* height: 25rem; */
}

.text-bottom-left {
  position: absolute;
  bottom: 8px;
}

.image-container {
  position: relative;
  text-align: left;
  color: #31343d;
}

.image-container h3 {
  background-color: #92cccd;
  padding: 16px;
}

.image {
  border: 3px solid #92cccd;
}

.content-me {
  width: 80%;
}

.content-me ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.content-me ul li {
  display: inline;
}

.contact-details {
  color: #445877;
  border-bottom: 3px solid #445877;
  padding-bottom: 2px;
  text-decoration: none;
  padding: 6px;
}



p {
  margin: 0;
  font-size: small;
}